.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 2rem;
  z-index: 1000;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.headerScrolled {
  background-color: var(--bg-primary);
  box-shadow: var(--card-shadow);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--text-primary);
  transition: color 0.2s ease;
}

.logo:hover {
  color: var(--color-accent);
}

.themeSwitch {
  margin-right: 2.5rem;
  order: 2; /* Par défaut, à droite du logo */
  align-items: center;
}

.nav {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.navItem {
  color: var(--text-primary);
  text-decoration: none;
  font-weight: 500;
  position: relative;
  transition: color 0.2s ease;
}

.navItem:hover {
  color: var(--color-accent);
}

.navItem::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--color-accent);
  transition: width 0.3s ease;
}

.navItem:hover::after {
  width: 100%;
}

@media (max-width: 768px) {
  .nav {
    display: none;
  }
  .container {
    flex-direction: row;
    align-items: center;
  }
}
